name: Changesets Manage & Publish

on:
  push:
    branches: [main]
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write
  id-token: write
  actions: read

jobs:
  changesets:
    name: Manage Version PR & Publish
    runs-on: ubuntu-latest
    concurrency:
      group: changesets-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 20
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Standard CI Env
        uses: ./.github/actions/standard-ci-env

      - name: Setup pnpm toolchain
        uses: ./.github/actions/setup-pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # This action will:
      # - open/update the "Version Packages" PR when there are pending changesets
      # - OR if this commit is the merged version commit, run the publish command
      - name: Changesets - open PR or publish
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
