name: Commitlint
on:
  pull_request:
    types: [opened, synchronize, edited, reopened]
  push:
    branches: [main]
jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      - name: Use Node 22.20
        uses: actions/setup-node@v4
        with:
          node-version: 22.20
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.js
